body
{
	text-align: center; background-color: #eee;
font-family: Consolas, monaco, monospace;
	
}

#mycanvas{width: 500px; height: 250px; margin: 0.5em;}
#controls, #mycanvas
{
	border: solid 5px grey; border-radius: 5px;
	background-color: white;
}

#controls p
{
	width: auto;
}

#controls
{
	width: 20em;
    margin: 0 auto;
}
